<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Nav.css">
    <link rel="stylesheet" href="/author.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Author</title>
</head>

<body>
    <%- include('./partials/NavBar') %>
        <div id="mainContainer">
            <div id="profilecardContainer">
                <div class="profilecard">
                    <!-- <div id="profileimage"> -->
                    <img id="profileimage" src="<%=authorImage%>" alt="">
                    <!-- </div> -->
                    <div class="profilecard-info">
                        <span id="username">
                            <%=authorName%>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardSection">
            <ul class="stack-cards js-stack-cards">
                <!-- <li
                    class="stack-cards__item sg0-bg-light sg0-radius-lg sg0-inner-glow sg0-shadow-md js-stack-cards__item">
                    <div class="sg0-flex sg0-flex-center">Card One</div>
                </li> -->
                <% authorsPost.reverse().forEach(function(postData) { %>
                    <a href="/post/<%= postData._id %>">
                        <li id="stackCards"
                            class="stack-cards__item sg0-bg-light sg0-radius-lg sg0-inner-glow sg0-shadow-md js-stack-cards__item">
                            <div class="sg0-flex sg0-flex-center">
                                <img id="postImages" src="<%= postData.postImage %>" alt="Posts">
                            </div>
                        </li>
                    </a>
                    <% }); %>
            </ul>
        </div>
</body>
<script src="/author.js"></script>
<script src="/Nav.js"></script>

</html>