<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/postDets.css">
    <title>Post</title>
</head>
<body>
    <h1>Post Dets Page</h1>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    <link rel="stylesheet" href="/postDetials.css">
    <link rel="stylesheet" href="/Nav.css">
</head>
<body>
    <%- include('./partials/NavBar') %>
    <div class="post-container">
        <div class="image-container">
            <!-- <img src="https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cmVsYXh8ZW58MHx8MHx8fDA%3D" alt="Post Image"> -->
             <img src="<%=postImage%>" alt="">
        </div>
        <div class="title-container">
            <!-- <h1>Post Title</h1> -->
             <h1><%=postTitle%></h1>
            
        </div>
        <div class="content-container">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula ex eu ex sollicitudin, et lacinia dui euismod.</p> -->
             <p><%=postContent%></p>
            
            <!-- Add more paragraphs as needed -->
        </div>
        <div class="meta-container">
            <!-- <p class="author">Author: John Doe</p> -->
            <p class="author"><%=postAuthor%></p>
             
            <!-- <p class="date">Published on: July 15, 2024</p> -->
            <p class="date"><%=postPublishDate%></p>
            
        </div>
        <!-- Add more comments as needed -->
        <form class="comment-form">
            <h3>Leave a Comment</h3>
            <textarea placeholder="Your comment" required></textarea>
            <button type="submit">Submit</button>
        </form>

        <div class="comments-section">
            <h2>Comments ( <%=comment.length%> )</h2>
            <!-- <div class="comment">
                <p>Date</p>
                <p><strong>Commenter Name:</strong> This is a comment.</p>
            </div> -->
            <% for(let i = comment.length-1; i>=0; i--){%>
                <div class="comment">
                    <p><%=comment[i].date%></p>
                    <p><strong><%=comment[i].user%>:</strong> <%=comment[i].comment%></p>
                </div>
            <%}%>
        </div>
    </div>
</body>
</html>
